<%= form_with(model: memory_list, local: true) do |form| %>
  <% if memory_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(memory_list.errors.count, "error") %> prohibited this memory_list from being saved:</h2>

      <ul>
      <% memory_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :date_created %>
    <%= form.datetime_select :date_created %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
