<p id="notice"><%= notice %></p>

<h1>Memory Lists</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Date created</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @memory_lists.each do |memory_list| %>
      <tr>
        <td><%= memory_list.title %></td>
        <td><%= memory_list.description %></td>
        <td><%= memory_list.date_created %></td>
        <td><%= link_to 'Show', memory_list %></td>
        <td><%= link_to 'Edit', edit_memory_list_path(memory_list) %></td>
        <td><%= link_to 'Destroy', memory_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Memory List', new_memory_list_path %>
