<p id="notice"><%= notice %></p>

<div class="dumbledore text-center">Dumbledore's Pensieve</div>

<center>
  <img src="/dumbledore.jpg" style="max-width:50%;
  max-height:50%;">

  <blockquote class="blockquote" style="margin: 5%">
    <p class="mb-0">I use the Pensieve. One simply siphons the excess thoughts from one's mind, pours them into the basin, and examines them at one's leisure. It becomes easier to spot patterns and links, you understand, when they are in this form.</p>
    <footer class="blockquote-footer">Albus Dumbledore <cite title="Source Title">Harry Potter and the Globet of Fire</cite></footer>
  </blockquote>
<center>
<table class="table">
  <thead>
    <tr>
      <th>Memory List</th>
      <th>Description</th>
      <th>Date created</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @memory_lists.each do |memory_list| %>
      <tr>
        <td><%= memory_list.title %></td>
        <td><%= memory_list.description %></td>
        <td><%= memory_list.date_created %></td>
        <td><%= link_to 'Show', memory_list %></td>
        <td><%= link_to 'Destroy', memory_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<button type="button" class="btn btn-primary btn-lg" style="background-color: #FFFFFF"><%= link_to 'New Memory List', new_memory_list_path %>
</button>
</center>

